.contact {
  .form-container {
    label {
      color: white;
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    }
    .input {
      .MuiInput-underline:before {
        border-bottom: 2px solid white;
      }

      .MuiInput-underline:after {
        border-bottom: 2px solid white;
      }
      .MuiInputBase-input {
        color: white;
        margin-top: 1.5rem;
      }
      .MuiInputLabel-root {
        color: lightyellow;
      }
    }
    .button-disabled {
      color: #656565;
      border: 0.5px solid wheat;
    }
  }
}
