.contact {
  width: 100%;
  height: 80vh;
  .contact-container {
    width: 100%;
    height: 100%;
    .info {
      width: 45%;
      height: 100%;
      .info-heading {
        h2 {
          width: 75%;
        }
      }
      .social-info {
        width: 100%;
        .icon {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    .form-container {
      height: 100%;
      width: 45%;
      .form {
        height: 100%;
        width: 100%;
      }
      label {
        color: white;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
          'Liberation Mono', 'Courier New', monospace;
      }
      .input {
        margin-bottom: 2rem;
        width: 70%;
        color: white;
        .MuiInput-underline:before {
          border-bottom: 2px solid white;
        }

        .MuiInput-underline:after {
          border-bottom: 2px solid white;
        }
        .MuiInputBase-input {
          color: white;
        }
        .MuiInputLabel-root {
          color: lightyellow;
        }
      }
      .button {
        width: 30%;
        height: 3em;
      }
      .button-disabled {
        width: 30%;
        height: 3em;
        border-radius: 0.5rem;
        color: #656565;
        border: 0.5px solid wheat;
      }
    }
  }
}
