@use './mixin.scss' as *;
@use './section/' as *;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@for $index from 1 through 6 {
  h#{$index} {
    margin: 0;
    line-height: 1.6;
  }
}

body {
  width: 100%;
  background-color: black;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  color: white;
  scroll-behavior: smooth;
}
h1 {
  opacity: 70%;
  font-weight: 600;
  text-shadow: 0.125rem 0.125rem 1.25rem rgba(255, 255, 255, 0.5);
}
//scrollbar
::-webkit-scrollbar {
  width: 0.5em;
  height: auto;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 95%;
  height: auto;
  min-height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.footer {
  margin-top: 10em;
  height: 5vh;
}
/* card in home section */
.card {
  width: 25em;
  height: 12em;
  padding: 2em;
  margin-bottom: 5em;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
