@use './mixin.scss' as *;
@use './section/' as *;
@use './scrollbar.scss' as *;
@use './components' as *;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@300&family=Roboto&display=swap');

@for $index from 1 through 6 {
  h#{$index} {
    margin: 0;
    line-height: 1.6;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-weight: 900;
    font-size: 2rem;
    color: #5bc1f0;
    background-image: -webkit-linear-gradient(45deg, #5bc1f0 32%, #44eb97 57%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
body,
html {
  width: 100%;
  background-color: black;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  color: white;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 90%;
    height: auto;
    min-height: 100vh;
    @include respond-to('tablet') {
      max-width: 100%;
      width: 100%;
    }
    @include respond-to('mobile') {
      max-width: 100%;
      width: 100%;
    }
  }
  .section {
    max-width: 90%;
  }
}
.line {
  background-color: #292929;
  height: 0.1rem;
  width: 15rem;
  margin-left: 1rem;
}
.footer {
  margin-top: 10em;
  height: 5vh;
}
