@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
}

.card {
  width: 35em;
  height: 15em;
  padding: 2em;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Rotate the cursor 90 degrees */
.Typewriter__cursor {
  transform: rotate(90deg) !important;
}

/* Set the height of the cursor */
.Typewriter__cursor::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.5em;
  background-color: #000;
  margin-top: 0.1em;
  animation: blink 0.7s infinite;
  transform: rotate(0deg);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
